html, body { height: 100%; margin: 0; }
#currentTime {
    background-color: burlywood;
    color: darkblue;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30vmin;
    font-family: 'Courier New', Courier, monospace;
}